.labeled__input label {
  font-weight: 600;
  color: #4c4f4e;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 19px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.error {
  color: #df0a4a;
}
