.input {
  outline: none;
  border: 1px solid #bec2c1;
  padding: 1px 14px;
  font-size: 1.6rem;
  font-weight: 400;
  color: #787777;
  display: flex;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  width: 100%;
  overflow: hidden;
  &:focus {
    outline: none;
    border: 1px solid #241773;
  }
  &:hover {
    outline: none;
    border: 1px solid #4096ff;
  }
  input,
  input {
    outline: none;
    border-left: 1px solid #bec2c1;
  }
}
