.ns-rating-content {
  display: grid;
  justify-content: center;
  gap: 4px;

  > div.nps-rating-box {
    display: flex;
    white-space: nowrap;
    width: 30px;
    height: 32px;
    border-radius: 4px;
    justify-content: center;
    border: 1px solid #e8e8e8;
    align-items: center;
    cursor: pointer;
    box-shadow: 2px 2px 1px 0 #f5f5f5;

    // box-shadow: 4px 4px 10px 0 rgba(204, 204, 204, 0.17);
    > span {
      font-weight: bold;
    }
  }
}
.nps-rating-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  .nps-rating-label-wrapper {
    display: flex;
    color: #333;
    text-align: center;
    font-family: Segoe UI;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;
    width: 100%;
    .nps-rating-label {
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      justify-content: flex-start;
      text-align: left;
      &:last-of-type {
        justify-content: flex-end;
        text-align: right;
        margin-left: 32px;
      }
    }
  }
}
