.med-day-number {
  width: 38px;
  height: 38px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 38px;
  color: #241773;
  flex: none;
}
.med-day-cell-header,
.med-day-cell {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 9.6vw;
  min-width: 100px;
  height: 77px;
  border-left: 1px solid #bec2c1;
  &:last-of-type:not(:first-of-type) {
    border-right: 1px solid #bec2c1;
  }
  &.full-col {
    width: 100%;
  }
}
.med-day-cell-header {
  background-color: #fff;
  padding: 0px 0px 0px 16px;
  &.active {
    border-top: 3px solid #241773;
  }
}
.med-week-row-header,
.med-week-row-body {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  width: 100%;
  min-height: 77px;
  border-width: 0.5px 0px;
  border-style: solid;
}
.med-week-row-header {
  border-color: #bec2c1;
}
.med-week-table {
  border-collapse: collapse;
  background: #fff;
  border-spacing: 0px;
  max-width: 100%;
  table-layout: auto;
}
.med-day-cell {
  display: flex;
  flex-direction: column;

  .med-day-cell-content {
    width: 100%;
    flex: 1;
    overflow: auto;
    .per-diem-calendar-cell {
      display: none;
    }
    &:hover,
    &:focus {
      .per-diem-calendar-cell {
        display: inline-flex;
        color: #241773;
      }
    }
    &:first-of-type {
      border-bottom: 1px dashed #bec2c1;
    }
  }
  &.active {
    background: #e6f4ff;
  }
}
.med-calendar-table-wrapper {
  overflow-y: auto;
  height: 100%;
  max-height: 100vh;
}

@media (min-width: 1024px) {
  .med-calendar-table-wrapper {
    max-height: calc(100vh - 300px);
  }
}
.med-cell-disabled,
.med-caption-disabled {
  pointer-events: none;
  color: rgb(0 0 0 / 0.25);
}
.med-cell-disabled {
  background-color: rgb(238 238 238 / 0.5);
}
.calendar-cell-actions {
  width: 100%;
  height: 100%;
  .calendar-cell-action {
    width: 100%;
    height: 100%;
  }
}
