# TODO: empty s3 before uploading
name: Deploy Frontend S3 CloudFront

on:
  push:
    branches:
      - main
env:
  VITE_GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
  VITE_GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
  VITE_GOOGLE_CLIENT_LIB_URL: ${{ vars.GOOGLE_CLIENT_LIB_URL }}
  VITE_API_BASE_URL: ${{ vars.API_BASE_URL }}
  VITE_GOOGLE_DRIVE_API_KEY: ${{ secrets.GOOGLE_DRIVE_API_KEY }}
  VITE_GOOGLE_DISCOVERY_DOC: ${{ vars.GOOGLE_DISCOVERY_DOC }}
  VITE_GOOGLE_DRIVE_SCOPES: ${{ vars.GOOGLE_DRIVE_SCOPES }}
  VITE_GOOGLE_APIS_URL: ${{ vars.GOOGLE_APIS_URL }}
  VITE_CV_ML_BASE_URL: ${{ vars.CV_ML_BASE_URL }}
  VITE_GOOGLE_PLACES_KEY: ${{ secrets.GOOGLE_PLACES_KEY }}
  VITE_GOOGLE_PLACES_URL: ${{ vars.GOOGLE_PLACES_URL }}
  
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 20
      - name: Install dependencies
        run: npm install
      - name: Run Lint
        run: npm run lint
      - name: Build
        run: npm run build
      - name: Set AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Invalidate Cloudfront cache
        run: export CF_DISTRO=${{ vars.CF_DISTRO }} && npm run cfcache:clear    
      - name: Upload to S3
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl public-read
        env:
          SOURCE_DIR: dist/
          AWS_S3_BUCKET: ${{ secrets.AWS_BUCKET }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
