.list-editor {
    padding: 5px;
    outline: none;
    border: 1px solid rgb(190, 194, 193);
    border-radius: 4px;
    &:focus-visible, &:hover {
        outline: none;
        border: 1px solid rgb(5 153 140);
    }
    ul {
        list-style: disc;
        li {
            font-size: 1.6rem;
            color: rgb(75, 85, 99);
        }
    }
    @media (min-width: 768px) {
        padding: 15px 30px;
    }
}
.list-editor-buttons {
    display: flex;
    gap: 4px;
    justify-content: flex-end;
    button {
        border: none;
        background-color: transparent;
        margin: 4px;
        padding: 0;
        font-size: 1.6rem;
    }
 }